{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col col-3">
        <div class="profil-nom">{{ user.forename }} {{ user.name }}</div>
        <div class="profil-pseudo"><p>{{ user.username }}</p></div>
        <p>{{ user.email }}</p>
    </div>
    <div class="col col-9">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="#" type="button" class="btn btn-outline-primary">Editer</a>
        {% endif %}
    </div>
</div>
