<a id="connecteduser" class="nav-link" href="javascript:void(0)">
    {% if users > 1 %}
        {{ users }} Utilisateurs connectés
    {% else %}
        {{ users }} Utilisateur connecté
    {% endif %}
</a>