{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col col-12">
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
